body {
    font-family: "Truculenta", "Segoe UI", Roboto, Arial;
    display: flex;
    gap: 20px;
    align-items: stretch;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffe4e1;
    color: #800080;

}
canvas {

    image-rendering: pixelated;
    cursor: pointer;
    background: url(../images/back.png) #ffb6c1;
    border: 4px solid #ff69b4;
}
a {color:#ff1493}
.info {
    width: 400px;
    background: url(../images/clio-transparent.png) no-repeat bottom right;
    background-size: 200px;
}
.info button {
    width: 10em;
    border-radius: 5px;
}
#mobilecontrols {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    & > button {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        font-size: 2em;
        height: 1.5em;
        border-radius: 5px;
    }
}
button {
    font-family: inherit;
    margin: 0 0 .5em 0;
    padding: 8px 10px;
    cursor: pointer;
    background: #ff69b4;
    color: #fff;
    border: 1px solid #ff1493;
    transition: background 0.3s, border 0.3s;
}
button:hover,button:focus {
    outline: none;
    background: #ff1493;
    border: 1px solid #ff69b4;
}
button.secondary {
    background: #95667f;
    border: 1px solid #943965;
}
button.secondary:hover,button.secondary:focus {
    outline: none;
    background: #943965;
    border: 1px solid #95667f;
}
dialog::backdrop {
    background-color: #395394c1;
}
dialog {
    max-width: 30em;
    padding: 1em;
    border-radius: 8px;
    opacity: 0;
    min-width: 300px;
    translate: 0 -80vh;
    transition-property: translate, opacity, display;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    background: #ffe4e1;
    color: #800080;
    border: 2px solid #ff69b4;
}
dialog[open] {
  translate: 0 -35vh;
  opacity: 1;
  @starting-style {
    opacity: 0;
    translate: 0 -80vh;
  }
}
footer {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 20px;
    font-size: .8em;
    color: #666;
}
summary {
    cursor: pointer;
    margin-bottom: 10px;
}
form {
    text-align: right;
}
h1,h2,h3 {
    margin: 0 0 .2em 0;
}
p {
    margin: 0 0 .5em 0;
}
.hint {
    font-size:.8em;
    margin-top: 10px;
    color: #ff1493;
}
#clio, #cliopink {
    display: none;
}
/* mobile */
@media (max-width: 600px) {
    div.title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: fixed;
        padding: 5px 10px;
        top: 5px;
        left: 0;
        width: 100%;
        & button {
            margin:0;
            width: auto;
        }
        & #howtoBtn {
            margin-top: 0;
        }
    }
    dialog[open]{
        translate: 0 -15vh;

    }
    .quickintro {
        text-align: center;
        margin-top: 6em;      
    }
    canvas {
        margin-top: 3em;
    }
        #mobilecontrols {
        display: flex;
    }
    body {
        padding-bottom: 80px;
    }
}
